<div class="page-content-container col-md-10 offset-md-1">
  <div class="scroll-section" data-aos="fade-up"  data-aos-duration="1000">
    <div class="section-text">
      <div class="section-title">The ICER Conference</div>
      <div class="section-text-content">
        <div class="main-text">
          <p>A place to describe in a bit more detail than on the main page what the ICER conference is all about</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non est igitur summum malum dolor. Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur. Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere? Nihil est enim, de quo aliter tu sentias atque ego, modo commutatis verbis ipsas res conferamus. Duo Reges: constructio interrete. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. Nullis enim partitionibus, nullis definitionibus utuntur ipsique dicunt ea se modo probare, quibus natura tacita adsentiatur. </p>
          <p>Quicquid porro animo cernimus, id omne oritur a sensibus; Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. Haec et tu ita posuisti, et verba vestra sunt. Occultum facinus esse potuerit, gaudebit; </p>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-section row" data-aos="fade-up"  data-aos-duration="1000">
    <div class="section-image col-md-6">
      <img src="https://miro.medium.com/max/1400/1*4kyx_Fv4BFbI8ojLJ3CZpw.jpeg"/>
    </div>
    <div class="section-text col-md-6">
      <div class="section-text">
        <div class="section-title">ICER 2023</div>
        <div class="section-text-content">
          <div class="main-text">
            <p>This might duplicate some of the stuff from the home page, but that's likely ok. It's a place to include short-from but more detailed info about the dates, deadlines, and organizers. It's up for debate whether duplicating a button is too far.</p>
            <p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Videsne quam sit magna dissensio? Sed quanta sit alias, nunc tantum possitne esse tanta. Hoc est non dividere, sed frangere. Utrum igitur tibi litteram videor an totas paginas commovere? Tenent mordicus. Duo Reges: constructio interrete. Que Manilium, ab iisque M. Nescio quo modo praetervolavit oratio. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-section" data-aos="fade-up"  data-aos-duration="1000">
    <div class="section-text">
      <div class="section-title">Archive</div>
      <div class="section-text-content">
        <p>This is a place to give a bit of history about the conference. If the plain list is a little boring or there's a preference to keep everything integrated, a dynamic iframe carousel or modal pop-ups from links could also work.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus est, si videtur, et recta quidem ad me. Si longus, levis dictata sunt. Profectus in exilium Tubulus statim nec respondere ausus; Quae diligentissime contra Aristonem dicuntur a Chryippo. Duo Reges: constructio interrete. Sapiens autem semper beatus est et est aliquando in dolore; Hi curatione adhibita levantur in dies, valet alter plus cotidie, alter videt. Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers? </p>
        <br/><br/>
        <ul>
          <li><a href="https://icer2022.acm.org" target="_blank">ICER 22</a>: Hybrid - Lugano, Switzerland</li>
          <li><a href="https://icer2021.acm.org" target="_blank">ICER 21</a>: Online - (was originally scheduled for Charleston, SC, USA), <a href="https://dl.acm.org/doi/proceedings/10.1145/3446871" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer2020.acm.org" target="_blank">ICER 20</a>: Online - (was originally scheduled for Dunedin, New Zealand), <a href="https://dl.acm.org/doi/proceedings/10.1145/3372782" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2019/" target="_blank">ICER 19</a>: Toronto, Canada, <a href="https://dl.acm.org/doi/proceedings/10.1145/3291279" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2018/" target="_blank">ICER 18</a>: Helsinki, Finland, <a href="https://dl.acm.org/doi/proceedings/10.1145/3230977" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2017/" target="_blank">ICER 17</a>: Tacoma, WA, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/3105726" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2016/" target="_blank">ICER 16</a>: Melbourne, Australia, <a href="https://dl.acm.org/doi/proceedings/10.1145/2960310" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2015/" target="_blank">ICER 15</a>: Omaha, NE, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/2787622" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2014/" target="_blank">ICER 14</a>: Glasgow, UK, <a href="https://dl.acm.org/doi/proceedings/10.1145/2632320" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2013/" target="_blank">ICER 13</a>: San Diego, CA, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/2493394" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer2012/" target="_blank">ICER 12</a>: New Zealand, <a href="https://dl.acm.org/doi/proceedings/10.1145/2361276" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer2011/" target="_blank">ICER 11</a>: Providence, RI, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/2016911" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer2010/" target="_blank">ICER 10</a>: Aarhus, Denmark, <a href="https://dl.acm.org/doi/proceedings/10.1145/1839594" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2009/" target="_blank">ICER 09</a>: Berkeley, CA, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/1584322" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="https://icer.acm.org/icer-2008/" target="_blank">ICER 08</a>: Sydney, Australia, <a href="https://dl.acm.org/doi/proceedings/10.1145/1404520" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="http://www.cc.gatech.edu/conferences/icer2007/" target="_blank">ICER 07</a>: Atlanta, GA, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/1288580" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="http://www.cs.kent.ac.uk/events/conf/2006/icer/" target="_blank">ICER 06</a>: Canterbury, UK, <a href="https://dl.acm.org/doi/proceedings/10.1145/1151588" target="_blank"><i class="fa fa-book-open"></i></a></li>
          <li><a href="http://icer2005.cs.washington.edu/" target="_blank">ICER 05</a>: Seattle, WA, USA, <a href="https://dl.acm.org/doi/proceedings/10.1145/1089786" target="_blank"><i class="fa fa-book-open"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
