<div class="page-content-container col-md-10 offset-md-1">
  <div class="scroll-section" data-aos="fade-up"  data-aos-duration="1000">
    <div class="section-text">
      <div class="section-title">FAQ</div>
      <div class="section-text-content">
        <div class="subsection">
          <div class="section-subtitle">What does ... ?</div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc haec primum fortasse audientis servire debemus. Haec et tu ita posuisti, et verba vestra sunt. Duo Reges: constructio interrete. Non est enim vitium in oratione solum, sed etiam in moribus. Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate, ipsum per se nihil delectat? Quae hic rei publicae vulnera inponebat, eadem ille sanabat. </p>
          </div>
        </div>
        <div class="subsection">
          <div class="section-subtitle">How do I ... ?</div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex. Duo Reges: constructio interrete. Sine ea igitur iucunde negat posse se vivere? Tum ille timide vel potius verecunde: Facio, inquit. Sed ad bona praeterita redeamus. Sin aliud quid voles, postea. </p>
            <p>Quod iam a me expectare noli. Quis Aristidem non mortuum diligit? Quorum altera prosunt, nocent altera. </p>
          </div>
        </div>
        <div class="subsection">
          <div class="section-subtitle">Huh?</div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Idem etiam dolorem saepe perpetiuntur, ne, si id non faciant, incidant in maiorem. De ingenio eius in his disputationibus, non de moribus quaeritur. Minime vero probatur huic disciplinae, de qua loquor, aut iustitiam aut amicitiam propter utilitates adscisci aut probari. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-section row" data-aos="fade-up"  data-aos-duration="1000">
    <div class="section-image col-md-6">
      <img src="https://miro.medium.com/max/720/1*kyArgKijS248FSiBgGYKag@2x.webp"/>
    </div>
    <div class="section-text-content col-md-6">
      <div class="resource-item">
        <a class="resource-title" href="" target="_blank">A Great Resource</a>
        <div class="resource-blurb">I don't know what these could be, but this text would consist of a mini blurb about what the website is. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae sequuntur igitur? Oratio me istius philosophi non offendit; Minime vero, inquit ille, consentit. Iam in altera philosophiae parte. Et quidem, inquit, vehementer errat; Tuo vero id quidem, inquam, arbitratu.</div>
      </div>
      <div class="resource-item">
        <a class="resource-title" href="" target="_blank">Another Cool Website</a>
        <div class="resource-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae sequuntur igitur? Oratio me istius philosophi non offendit; Minime vero, inquit ille, consentit. Iam in altera philosophiae parte. Et quidem, inquit, vehementer errat; Tuo vero id quidem, inquam, arbitratu.</div>
      </div>
      <div class="resource-item">
        <a class="resource-title" href="" target="_blank">This is Neat Too</a>
        <div class="resource-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae sequuntur igitur? Oratio me istius philosophi non offendit; Minime vero, inquit ille, consentit. Iam in altera philosophiae parte. Et quidem, inquit, vehementer errat; Tuo vero id quidem, inquam, arbitratu.</div>
      </div>
    </div>
  </div>
</div>
